<!-- <ng-container *ngIf="(initialStateLoaded$ | async)"> -->
<p class="title background">
    Title
</p>


<div *ngIf="(themes$ | async) as themes">
    Themes:
    <div *ngFor="let theme of themes">
        <tmp-test-store [theme]="theme"></tmp-test-store>
    </div>
    <span *ngIf="(selectedTheme$ | async) as selectedTheme">
        Selected Theme:
        <li>{{selectedTheme.name}}</li>
        <div *ngFor="let property of selectedTheme.properties">
            <li>{{property.property}} : {{property.value}}</li>
        </div>
    </span>
</div>
<router-outlet></router-outlet>
<!-- </ng-container> -->
